In [73]:
import pandas as pd

In [74]:
df=pd.read_excel(r'C:\Users\User\OneDrive\Desktop\practice files\remote_df.xlsx')

In [75]:
df.head()

,Country,Numberof respondent,RemoteWork,workremote(%)
0,United States of America,13543,6771,49.996308
1,India,6639,1952,29.402018
2,Germany,5395,1558,28.878591
3,United Kingdom of Great Britain and Northern I...,4190,1532,36.563246
4,Canada,2490,1308,52.530120

In [76]:
df.columns

Index(['Country', 'Numberof respondent', 'RemoteWork', 'workremote(%)'], dtype='object')

In [77]:
tablename='Kegan'

In [78]:
def create_statement(table,tablename):
    crt_statement=f'CREATE TABLE {tablename}('
    for column in table.columns:
        column_name=column.replace(' ','_')
        column_type=table[column].dtype
        if column_type in ['int','int8','int32','int64']:
            column_type='INT'
        elif column_type in ['float','float8','float32','float64']:
            column_type='NUMERIC(9,2)'
        elif column_type=='object':
            column_type='VARCHAR(255)'
        elif column_type=='datetime64':
            column_type='TIMESTAMP'
        else:
            column_type='VARCHAR(255)'
        crt_statement+=f'\n\t{column_name} {column_type}'
    crt_statement +='\n);'
    return crt_statement

In [79]:
print(crt_statement)

CREATE TABLE Kegan(
	Country VARCHAR(255)
	Numberof_respondent INT
	RemoteWork INT
	workremote(%) NUMERIC(9,2)
);

In [80]:
df.head(2)

                    Country  Numberof respondent  RemoteWork  workremote(%)
0  United States of America                13543        6771      49.996308
1                     India                 6639        1952      29.402018

In [81]:
def insert_statement(table,tablename):
    for index, row in table.iterrows():
        values=[]
        for value in row:
            if pd.isna(value):
                value='NULL'
            else:
                value=f'"{value}"'
            values.append(value)
            col_name=', '.join(table.columns)
            change_value =", ".join(values)
        ins_statement=f'INSERT INTO {tablename}({col_name}) VALUES ({change_value}),'
        yield ins_statement

In [82]:
ists= insert_statement(df,'Isaac')
print(list(ists))

['INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("United States of America", "13543", "6771", "49.9963080558222"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("India", "6639", "1952", "29.40201837626148"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Germany", "5395", "1558", "28.87859128822984"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("United Kingdom of Great Britain and Northern Ireland", "4190", "1532", "36.56324582338902"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Canada", "2490", "1308", "52.53012048192771"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("France", "2328", "450", "19.3298969072165"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Brazil", "2109", "1248", "59.17496443812234"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Poland", "1732", "793", "45.78521939953811"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Netherlands", "1555", "250", "16.07717041800643"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Spain", "1521", "674", "44.3129520052597"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Italy", "1514", "405", "26.75033025099075"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Australia", "1462", "443", "30.30095759233926"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Russian Federation", "1229", "494", "40.19528071602929"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Turkey", "1020", "370", "36.27450980392157"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Sweden", "1020", "159", "15.58823529411765"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Switzerland", "932", "106", "11.37339055793991"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Austria", "833", "158", "18.96758703481393"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Israel", "795", "95", "11.94968553459119"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Iran, Islamic Republic of...", "723", "204", "28.21576763485477"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Pakistan", "711", "162", "22.78481012658228"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Czech Republic", "692", "187", "27.02312138728324"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("China", "632", "66", "10.44303797468354"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Belgium", "626", "67", "10.70287539936102"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Bangladesh", "613", "125", "20.39151712887439"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Ukraine", "593", "356", "60.03372681281619"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Romania", "581", "271", "46.64371772805508"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Mexico", "574", "294", "51.21951219512195"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Portugal", "563", "232", "41.20781527531084"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Greece", "548", "192", "35.03649635036496"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Denmark", "547", "39", "7.129798903107861"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Indonesia", "537", "141", "26.25698324022346"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Argentina", "521", "293", "56.23800383877159"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Nigeria", "517", "150", "29.01353965183752"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("South Africa", "493", "209", "42.39350912778905"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Norway", "479", "40", "8.350730688935283"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Finland", "468", "110", "23.5042735042735"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Hungary", "466", "154", "33.04721030042919"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("New Zealand", "440", "123", "27.95454545454545"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Egypt", "400", "112", "28.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Philippines", "366", "137", "37.43169398907104"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Bulgaria", "364", "145", "39.83516483516483"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Colombia", "341", "228", "66.86217008797654"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Japan", "333", "146", "43.84384384384384"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Ireland", "332", "143", "43.07228915662651"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Viet Nam", "317", "34", "10.72555205047319"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Sri Lanka", "296", "102", "34.45945945945946"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Slovenia", "286", "59", "20.62937062937063"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Serbia", "282", "111", "39.36170212765958"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Kenya", "270", "75", "27.77777777777778"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Taiwan", "233", "33", "14.16309012875537"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Slovakia", "229", "79", "34.49781659388647"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("South Korea", "229", "22", "9.606986899563319"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Morocco", "226", "47", "20.79646017699115"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Singapore", "226", "28", "12.38938053097345"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Nepal", "222", "48", "21.62162162162162"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Lithuania", "212", "59", "27.83018867924528"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Malaysia", "206", "36", "17.47572815533981"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Chile", "203", "120", "59.11330049261084"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Croatia", "192", "60", "31.25"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Hong Kong (S.A.R.)", "184", "14", "7.608695652173914"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Thailand", "175", "55", "31.42857142857143"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("United Arab Emirates", "165", "33", "20.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Estonia", "141", "36", "25.53191489361702"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Peru", "136", "83", "61.02941176470588"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Belarus", "136", "63", "46.32352941176471"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Venezuela, Bolivarian Republic of...", "119", "72", "60.50420168067227"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Saudi Arabia", "116", "12", "10.3448275862069"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Uruguay", "106", "45", "42.45283018867924"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Georgia", "105", "61", "58.0952380952381"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Bosnia and Herzegovina", "103", "32", "31.06796116504854"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Tunisia", "101", "15", "14.85148514851485"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Latvia", "95", "30", "31.57894736842105"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Armenia", "93", "32", "34.40860215053764"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Ghana", "86", "19", "22.09302325581395"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Uzbekistan", "84", "21", "25.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Ecuador", "83", "40", "48.19277108433735"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Dominican Republic", "83", "50", "60.24096385542169"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Costa Rica", "76", "49", "64.47368421052632"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Ethiopia", "75", "18", "24.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Republic of Korea", "72", "5", "6.944444444444445"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Lebanon", "71", "16", "22.53521126760564"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Kazakhstan", "70", "19", "27.14285714285714"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Afghanistan", "69", "15", "21.73913043478261"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Azerbaijan", "69", "17", "24.63768115942029"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Jordan", "64", "9", "14.0625"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Uganda", "63", "10", "15.87301587301587"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Cyprus", "61", "23", "37.70491803278689"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Albania", "59", "11", "18.64406779661017"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Luxembourg", "56", "9", "16.07142857142857"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Iraq", "54", "4", "7.407407407407407"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Guatemala", "54", "28", "51.85185185185185"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Myanmar", "53", "10", "18.86792452830189"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("The former Yugoslav Republic of Macedonia", "51", "22", "43.13725490196079"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("El Salvador", "45", "22", "48.88888888888889"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Bolivia", "44", "17", "38.63636363636363"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Paraguay", "42", "20", "47.61904761904761"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Malta", "39", "11", "28.2051282051282"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Nomadic", "37", "19", "51.35135135135135"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Republic of Moldova", "37", "15", "40.54054054054054"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Algeria", "36", "7", "19.44444444444445"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Cambodia", "35", "3", "8.571428571428571"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Syrian Arab Republic", "35", "13", "37.14285714285715"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Cameroon", "34", "7", "20.58823529411764"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Palestine", "34", "10", "29.41176470588236"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Sudan", "32", "12", "37.5"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Cuba", "31", "19", "61.29032258064516"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Zimbabwe", "30", "5", "16.66666666666666"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Kosovo", "29", "6", "20.68965517241379"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("United Republic of Tanzania", "28", "2", "7.142857142857142"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Iceland", "28", "6", "21.42857142857143"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Honduras", "28", "10", "35.71428571428572"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Panama", "28", "11", "39.28571428571428"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Madagascar", "26", "5", "19.23076923076923"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Kyrgyzstan", "22", "7", "31.81818181818182"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Jamaica", "22", "6", "27.27272727272727"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Mauritius", "21", "6", "28.57142857142857"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Rwanda", "20", "7", "35.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Zambia", "20", "3", "15.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Kuwait", "20", "1", "5.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Qatar", "20", "3", "15.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Montenegro", "19", "11", "57.89473684210527"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Mongolia", "19", "0", "0.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Nicaragua", "18", "14", "77.77777777777779"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Turkmenistan", "16", "5", "31.25"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Andorra", "15", "8", "53.33333333333334"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Bahrain", "14", "2", "14.28571428571428"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Malawi", "14", "1", "7.142857142857142"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Yemen", "14", "4", "28.57142857142857"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Côte d\'Ivoire", "14", "2", "14.28571428571428"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Senegal", "13", "4", "30.76923076923077"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Libyan Arab Jamahiriya", "13", "4", "30.76923076923077"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Trinidad and Tobago", "13", "2", "15.38461538461539"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Oman", "13", "2", "15.38461538461539"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Congo, Republic of the...", "12", "1", "8.333333333333332"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Somalia", "12", "1", "8.333333333333332"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Maldives", "12", "4", "33.33333333333333"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Isle of Man", "12", "1", "8.333333333333332"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Angola", "12", "5", "41.66666666666667"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Tajikistan", "11", "2", "18.18181818181818"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Benin", "11", "4", "36.36363636363637"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Mozambique", "11", "0", "0.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Mali", "10", "2", "20.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Togo", "9", "1", "11.11111111111111"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Swaziland", "7", "3", "42.85714285714285"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Democratic Republic of the Congo", "7", "1", "14.28571428571428"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Lao People\'s Democratic Republic", "7", "3", "42.85714285714285"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Botswana", "6", "2", "33.33333333333333"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Barbados", "6", "3", "50.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Guyana", "6", "3", "50.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Namibia", "5", "0", "0.0"),', 'INSERT INTO Isaac(Country, Numberof respondent, RemoteWork, workremote(%)) VALUES ("Gui

In [83]:
def sql_generator(table, tablename):
    crt = create_statement(table, tablename)
    ins = insert_statement(table, tablename)
    final_statement = f"{crt} {' '.join(list(ins))}"
    return final_statement

In [84]:
dff=pd.read_csv(r'C:\Users\User\OneDrive\Desktop\practice files\violations.csv')

In [85]:
sql_sts = sql_generator(dff, "violation")

In [86]:
with open('Lorna.txt','w')as file:
    file.write(sql_sts)